[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
**/.vs
**/.idea
**/.DS_Store
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
*.sln
*.apk

